.Sticky {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #DFDEDC !important;
    -webkit-transition: all 15ms ease-in-out;
    -moz-transition: all 15ms ease-in-out;
    -o-transition: all 15ms ease-in-out;
    -ms-transition: all 15ms ease-in-out;
    transition: all 15ms ease-in-out;
    animation-name: stickyTransition;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-box-shadow: 0 2px 3px rgba(96, 96, 96, 0.1);
    -moz-box-shadow: 0 2px 3px rgba(96, 96, 96, 0.1);
    box-shadow: 0 2px 3px rgba(96, 96, 96, 0.1);
  }
  @keyframes stickyTransition {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }



  .custom-hr {
    border: 2px solid white;
  }
  .scrolled-custom-hr {
    border: 2px solid black;
  }